<footer class="footer">
  <div class="container footer__inner">
    <div>
      <div class="footer__brand">SolviTech</div>
      <div class="footer__text">Simple. Scalable. Business-first.</div>
    </div>

    <div class="footer__col">
      <div class="footer__title">Company</div>
      <a class="footer__link" href="/about">About</a>
      <a class="footer__link" href="/services">Services</a>
      <a class="footer__link" href="/contact">Contact</a>
    </div>

    <div class="footer__col">
      <div class="footer__title">Contact</div>
      <div class="footer__text">solvitech0@gmail.com</div>
      <div class="footer__text">+1 (647) 780-1252</div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">© <%= new Date().getFullYear() %> SolviTech. All rights reserved.</div>
  </div>
</footer>
